<div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>SFDC Admin Pro</h1>
                        <p>Provide Advance Admin Capbilites for Sales Force Object Administration </p>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
    <div class="col-lg-4">
        <div class="well">
            <h4>Seach Object Faster</h4>
            <p>Single View Of All Sales force Standard Objects, Custom Objects, Custom Settings</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="well well-lg">
            <h4>View Field</h4>
            <p>View All Field and Field Information and profile filtering capabilitys to quickly locate you fields</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="well well-sm">
            <h4>Bulk Field Creator</h4>
            <p>Create Multiple Fiedls from Different Types from a single place</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
